{% extends 'base.html' %}
{% block Content %}

<div class="row">

    <div class="col-lg-3  mt-5" id="BBC">
        <a target="_blank" rel="noopener noreferrer" href="https://www.bbc.com/" style="color:black">
            <h4>BBC</h4>
        </a>
        <br>
        {% for news in bbc_news %}
        <a target="_blank" rel="noopener noreferrer" href="{{news.link}}" style="color:black">{{ news.content }}</a>
        <hr>
        {% endfor %}
    </div>

    <div class="col-lg-3  mt-5" id="CGTN">
        <a target="_blank" rel="noopener noreferrer" href="https://www.cgtn.com/" style="color:black">
            <h4>CGTN</h4>
        </a>
        {% for news in cgtn_news %}
        <a target="_blank" rel="noopener noreferrer" href="{{news.link}}" style="color:black">{{ news.content }}</a>
        <hr>
        {% endfor %}
    </div>

    <div class="col-lg-3  mt-5" id="TRT">
        <a target="_blank" rel="noopener noreferrer" href="https://www.trtworld.com/" style="color:black">
            <h4>TRT World</h4>
        </a>
        {% for news in trt_news %}
        <a target="_blank" rel="noopener noreferrer" href="{{news.link}}" style="color:black">{{ news.content }}</a>
        <hr>
        {% endfor %}
    </div>

    <div class="col-lg-3  mt-5" id="RT">
        <a target="_blank" rel="noopener noreferrer" href="https://www.rt.com/" style="color:black">
            <h4>RT</h4>
        </a>
        {% for news in rt_news %}
        <a target="_blank" rel="noopener noreferrer" href="{{news.link}}" style="color:black">{{ news.content }}</a>
        <hr>
        {% endfor %}
    </div>
</div>
{% endblock Content %}